/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.upload-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #0056b3;
}

.upload-input {
  display: none;
}

.upload-label {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.upload-label:hover {
  background-color: #0056b3;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.metadata {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.metadata h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.metadata ul {
  list-style-type: none;
  padding: 0;
}

.metadata li {
  font-size: 18px;
  margin-bottom: 5px;
}